marhranj_aplikacija_3/marhranj_aplikacija_3-war/src/conf/xml-resources/web-service-references/AIRP2WS/wsdl/localhost_8084/marhranj_aplikacija_1/AIRP2WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.marhranj.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.marhranj.nwtis.foi.org/" name="AIRP2WS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.marhranj.nwtis.foi.org/" schemaLocation="http://localhost:8084/marhranj_aplikacija_1/AIRP2WS?xsd=1"/>
</xsd:schema>
</types>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="zadnjiPodaciOAvionuSAerodroma">
<part name="parameters" element="tns:zadnjiPodaciOAvionuSAerodroma"/>
</message>
<message name="zadnjiPodaciOAvionuSAerodromaResponse">
<part name="parameters" element="tns:zadnjiPodaciOAvionuSAerodromaResponse"/>
</message>
<message name="zadnjiPodaciOAvionimaSAerodroma">
<part name="parameters" element="tns:zadnjiPodaciOAvionimaSAerodroma"/>
</message>
<message name="zadnjiPodaciOAvionimaSAerodromaResponse">
<part name="parameters" element="tns:zadnjiPodaciOAvionimaSAerodromaResponse"/>
</message>
<message name="dajAvionePoletjeleSAerodroma">
<part name="parameters" element="tns:dajAvionePoletjeleSAerodroma"/>
</message>
<message name="dajAvionePoletjeleSAerodromaResponse">
<part name="parameters" element="tns:dajAvionePoletjeleSAerodromaResponse"/>
</message>
<message name="dajLetoveAvionaUVremenskomIntervalu">
<part name="parameters" element="tns:dajLetoveAvionaUVremenskomIntervalu"/>
</message>
<message name="dajLetoveAvionaUVremenskomIntervaluResponse">
<part name="parameters" element="tns:dajLetoveAvionaUVremenskomIntervaluResponse"/>
</message>
<message name="dajNaziveAerodromaKrozKojeJeAvionProlazio">
<part name="parameters" element="tns:dajNaziveAerodromaKrozKojeJeAvionProlazio"/>
</message>
<message name="dajNaziveAerodromaKrozKojeJeAvionProlazioResponse">
<part name="parameters" element="tns:dajNaziveAerodromaKrozKojeJeAvionProlazioResponse"/>
</message>
<message name="dajMeteoPodatkeZaAerodrom">
<part name="parameters" element="tns:dajMeteoPodatkeZaAerodrom"/>
</message>
<message name="dajMeteoPodatkeZaAerodromResponse">
<part name="parameters" element="tns:dajMeteoPodatkeZaAerodromResponse"/>
</message>
<message name="dohvatiKorisnike">
<part name="parameters" element="tns:dohvatiKorisnike"/>
</message>
<message name="dohvatiKorisnikeResponse">
<part name="parameters" element="tns:dohvatiKorisnikeResponse"/>
</message>
<message name="dohvatiPortSocketa">
<part name="parameters" element="tns:dohvatiPortSocketa"/>
</message>
<message name="dohvatiPortSocketaResponse">
<part name="parameters" element="tns:dohvatiPortSocketaResponse"/>
</message>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<portType name="AIRP2WS">
<operation name="dodajKorisnika">
<input wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="zadnjiPodaciOAvionuSAerodroma">
<input wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/zadnjiPodaciOAvionuSAerodromaRequest" message="tns:zadnjiPodaciOAvionuSAerodroma"/>
<output wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/zadnjiPodaciOAvionuSAerodromaResponse" message="tns:zadnjiPodaciOAvionuSAerodromaResponse"/>
</operation>
<operation name="zadnjiPodaciOAvionimaSAerodroma">
<input wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/zadnjiPodaciOAvionimaSAerodromaRequest" message="tns:zadnjiPodaciOAvionimaSAerodroma"/>
<output wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/zadnjiPodaciOAvionimaSAerodromaResponse" message="tns:zadnjiPodaciOAvionimaSAerodromaResponse"/>
</operation>
<operation name="dajAvionePoletjeleSAerodroma">
<input wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dajAvionePoletjeleSAerodromaRequest" message="tns:dajAvionePoletjeleSAerodroma"/>
<output wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dajAvionePoletjeleSAerodromaResponse" message="tns:dajAvionePoletjeleSAerodromaResponse"/>
</operation>
<operation name="dajLetoveAvionaUVremenskomIntervalu">
<input wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dajLetoveAvionaUVremenskomIntervaluRequest" message="tns:dajLetoveAvionaUVremenskomIntervalu"/>
<output wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dajLetoveAvionaUVremenskomIntervaluResponse" message="tns:dajLetoveAvionaUVremenskomIntervaluResponse"/>
</operation>
<operation name="dajNaziveAerodromaKrozKojeJeAvionProlazio">
<input wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dajNaziveAerodromaKrozKojeJeAvionProlazioRequest" message="tns:dajNaziveAerodromaKrozKojeJeAvionProlazio"/>
<output wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dajNaziveAerodromaKrozKojeJeAvionProlazioResponse" message="tns:dajNaziveAerodromaKrozKojeJeAvionProlazioResponse"/>
</operation>
<operation name="dajMeteoPodatkeZaAerodrom">
<input wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dajMeteoPodatkeZaAerodromRequest" message="tns:dajMeteoPodatkeZaAerodrom"/>
<output wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dajMeteoPodatkeZaAerodromResponse" message="tns:dajMeteoPodatkeZaAerodromResponse"/>
</operation>
<operation name="dohvatiKorisnike">
<input wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dohvatiKorisnikeRequest" message="tns:dohvatiKorisnike"/>
<output wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dohvatiKorisnikeResponse" message="tns:dohvatiKorisnikeResponse"/>
</operation>
<operation name="dohvatiPortSocketa">
<input wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dohvatiPortSocketaRequest" message="tns:dohvatiPortSocketa"/>
<output wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/dohvatiPortSocketaResponse" message="tns:dohvatiPortSocketaResponse"/>
</operation>
<operation name="azurirajKorisnika">
<input wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://serveri.ws.marhranj.nwtis.foi.org/AIRP2WS/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
</portType>
<binding name="AIRP2WSPortBinding" type="tns:AIRP2WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zadnjiPodaciOAvionuSAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zadnjiPodaciOAvionimaSAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAvionePoletjeleSAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajLetoveAvionaUVremenskomIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajNaziveAerodromaKrozKojeJeAvionProlazio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeZaAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiKorisnike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiPortSocketa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AIRP2WS">
<port name="AIRP2WSPort" binding="tns:AIRP2WSPortBinding">
<soap:address location="http://localhost:8084/marhranj_aplikacija_1/AIRP2WS"/>
</port>
</service>
</definitions>